.back-wrap {
  background-blend-mode: multiply;
  background-image: url("../img/back_body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 54px;
  padding-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.7);
}

.back-wrap--expert {
  background-image: url("../img/back_body-expert.jpg");
  background-color: transparent;
}

.back-wrap--project {
  background-image: url("../img/back_body-project.jpg");
  background-color: transparent;
}

.back-wrap--machine {
  background-image: url("../img/back_body-machine.jpg");
  background-color: transparent;
}

.back-wrap--documents {
  background-image: url("../img/back_body-documents.jpg");
  background-color: transparent;
}

.back-wrap--expert a {
  color: #cc33ff;
}

.back-wrap__frame {
  display: block;
  border: 1px #ffffff solid;
}

@include _340 {
  .back-wrap__frame {
    border: 0;
    border-bottom: 1px #ffffff solid;
  }
}

.back-wrap__frame--inner {
  position: relative;
  border: 1px #ffffff solid;
  background-color: rgba(255, 255, 255, 0.9);
}

.back-wrap__close {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  top: 20px;
  right: 23px;
  cursor: pointer;
  outline: none;
  font-size: 0;
  background-color: transparent;
}

@include _778 {
  .back-wrap__close {
    display: none;
  }
}

.back-wrap__close::before,
.back-wrap__close::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  top: 50%;
  background-color: #000000;
}

.back-wrap__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.back-wrap__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.back-wrap__close:hover::before,
.back-wrap__close:hover::after,
.back-wrap__close:focus::before,
.back-wrap__close:focus::after {
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
}

.back-wrap__close:active::before,
.back-wrap__close:active::after {
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.back-wrap--expert a[href] {
  &:hover,
  &:focus {
    color: #a451f7;
    outline: none;
  }

  &:active {
    color: #6d2cad;
  }
}
