.business {
  position: relative;
}

.business h1 {
  display: inline-block;
  font-size: 58px;
  line-height: 68px;
}

.business h1,
.business h2 {
  font-family: "GOST_BU";
  font-weight: 100;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

@include _778 {
  .business h1 {
    font-size: 52px;
  }
}

@include _578 {
  .business h1 {
    width: 100%;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
  }
}

.business h2 {
  font-size: 42px;
  margin-bottom: 18px;
}

@include _578 {
  .business h2 {
    text-align: center;
  }
}

.business > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  margin-right: 110px;
  margin-bottom: 70px;
}

@include _1479 {
  .business > ul {
    margin-top: 120px;
    margin-right: 0;
  }
}

@include _918 {
  .business > ul {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.business span,
.business li {
  font-family: "CadillacSansA-Light";
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.business > ul > li {
  width: 200px;
}

@include _1158 {
  .business > ul > li {
    width: 180px;
  }
}

@include _918 {
  .business > ul > li {
    width: 300px;
    margin-bottom: 50px;
  }
}

@include _778 {
  .business > ul > li {
    width: 220px;
    margin-bottom: 50px;
  }
}

@include _578 {
  .business > ul > li {
    width: 100%;
    text-align: center;
  }
}

.business__button {
  width: 198px;
  font-family: "CadillacSansA-Book";
  float: right;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #cc99ff;
  margin-left: 40px;
  margin-top: 15px;
}

@include _918 {
  .business__button {
    float: left;
    margin-left: 0;
  }
}

@include _578 {
  .business__button {
    transform: translateX(50%);
  }
}

@include _458 {
  .business__button {
    transform: translateX(25%);
  }
}

.business h4 {
  font-family: "CadillacSansA-Book";
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.business h4::after {
  display: block;
  content: "";
  width: 105px;
  height: 5px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 40px;
}

@include _578 {
  .business h4::after {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.business__science {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 65px;
}

@include _578 {
  .business__science {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.business__science ul {
  margin: 0;
  padding-left: 15px;
}

@include _578 {
  .business__science ul {
    padding-left: 30px;
  }
}

.business__science a {
  color: #cc99ff;
}

@include _778 {
  .business__science article {
    width: 70%;
  }
}

@include _578 {
  .business__science article {
    width: 100%;
  }
}

.business__science article:first-child {
  margin-right: 120px;
}

@include _1158 {
  .business__science article:first-child {
    margin-right: 60px;
  }
}

@include _578 {
  .business__science article:first-child {
    margin-right: 0;
  }
}

.business__science a[href] {
  &:hover,
  &:focus {
    color: #a451f7;
    outline: none;
  }

  &:active {
    color: #6d2cad;
  }
}

.business__science li {
  margin: 0;
  margin-bottom: 30px;
}

.business__button {
  &:hover,
  &:focus {
    background-color: #a451f7;
    outline: none;
  }

  &:active {
    background-color: #6d2cad;
  }
}
