.content-inner {
  width: 760px;
  margin-right: 87px;
}

@include _1158 {
  .content-inner {
    width: 100%;
  }
}

@include _918 {
  .content-inner {
    margin-right: 0;
    order: 2;
  }
}

.content-inner h1 {
  font-family: "GOST_BU";
  font-size: 58px;
  line-height: 68px;
  font-weight: 100;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 54px;
  word-wrap: break-word;
}

@include _778 {
  .content-inner h1 {
    font-size: 52px;
  }
}

@include _578 {
  .content-inner h1 {
    width: 100%;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }
}

.content-inner p {
  font-family: "CadillacSansA-Light";
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 35px;
}

.content-inner__description p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

@include _1158 {
  .content-inner .sidebar {
    order: 1;
  }
}

.content-inner a {
  color: #c3ff;
}

.content-inner--document ul {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 40px;
  padding-bottom: 60px;
  list-style-type: none;
}

.content-inner--document li {
  position: relative;
  font-family: "CadillacSansA-Light";
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
}

.content-inner--document li::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 4px;
  top: 12px;
  left: -24px;
  background-color: #392aa0;
}

.content-inner a {
  &:hover,
  &:focus {
    color: #a451f7;
    outline: none;
  }

  &:active {
    color: #6d2cad;
  }
}
