.damage {
  width: 100%;
  margin-top: -57px;
  margin-bottom: 125px;
}

@include _1158 {
  .damage {
    margin-top: 0;
  }
}

@include _918 {
  .damage {
    margin-bottom: 60px;
  }
}

.damage h2 {
  width: 760px;
  font-family: "GOST_BU";
  font-size: 42px;
  font-weight: 100;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 37px;
}

@include _918 {
  .damage h2 {
    width: 100%;
  }
}

@include _578 {
  .damage h2 {
    font-size: 36px;
    text-align: center;
  }
}

.damage p {
  font-family: "CadillacSansA-Light";
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.damage__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: 1;
  flex-wrap: wrap;
  margin-top: 40px;
}

@include _918 {
  .damage__list {
    flex-direction: column;
  }
}

.damage__list h4 {
  font-family: "CadillacSansA-Book";
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #392aa0;
  margin: 0;
}

.damage__list h4::after {
  display: block;
  content: "";
  width: 105px;
  height: 5px;
  margin-top: 8px;
  margin-bottom: 15px;
  background-color: #392aa0;
}

.damage__list article {
  width: 340px;
}

@include _918 {
  .damage__list article {
    width: 100%;
  }
}

.damage__list article:last-child {
  position: relative;
  margin: 0 auto;
  margin-top: 185px;
}

.damage__list article:last-child::before {
  position: absolute;
  content: url("../img/books.png");
  width: 160px;
  height: 127px;
  top: -150px;
}

.damage__list ol {
  margin: 0;
  padding-left: 15px;
}

.damage span,
.damage li {
  font-family: "CadillacSansA-Light";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 25px;
}

.damage span {
  display: block;
}
