.direction {
 width: 100%;
 min-height: 460px;
 background-color: #e6def6;
 margin-top: 55px;
 margin-bottom: 74px;
}

.direction h2 {
  font-family: "GOST_BU";
  font-size: 42px;
  font-weight: 100;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 37px;
  padding-top: 36px;
  padding-left: 40px;
}

@include _578 {
  .direction h2 {
    font-size: 36px;
  }
}

.direction ul {
  margin: 0;
  padding: 0;
  padding-left: 64px;
  padding-right: 40px;
  padding-bottom: 33px;
  list-style-type: none;
}

.direction li {
  position: relative;
  margin-bottom: 27px;
}

.direction li::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 4px;
  top: 8px;
  left: -24px;
  background-color: #392aa0;
}
