.documents-list {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 40px;
  padding-bottom: 60px;
  list-style-type: none;
}

.documents-list li {
  position: relative;
  font-family: "CadillacSansA-Light";
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
}

.documents-list li::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 4px;
  top: 12px;
  left: -24px;
  background-color: #392aa0;
}
