.examples {
  position: relative;
  width: 568px;
  margin-top: 49px;
  margin-left: 15px;
  padding-left: 184px;
}

@include _1479 {
  .examples {
      width: 440px;
  }
}

@include _778 {
  .examples {
    margin-left: 0;
    padding-left: 0;
  }
}

@include _578 {
  .examples {
    width: 300px;
    margin-top: 0;
  }
}

.examples h4 {
  font-family: "CadillacSansA-Book";
  font-size: 20px;
  line-height: 25px;
  color: #392aa0;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.examples h4::after {
  display: block;
  content: "";
  width: 105px;
  height: 5px;
  margin-top: 8px;
  margin-bottom: 15px;
  background-color: #392aa0;
}

.examples > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@include _1479 {
  .examples > div {
    justify-content: flex-start;
  }
}

@include _1158 {
  .examples > div {
    flex-direction: column;
  }
}

.examples p {
  width: 275px;
  margin: 0;
  margin-top: 15px;
}

.examples::before {
  position: absolute;
  content: url("../img/books.png");
  width: 160px;
  height: 127px;
  left: 0px;
}

@include _778 {
  .examples::before {
    display: none;
  }
}

.examples a {
  color: #c3ff;
}

.examples a {
  &:hover,
  &:focus {
    color: #a451f7;
    outline: none;
  }

  &:active {
    color: #6d2cad;
  }
}
