.header-nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 55px;
  margin-bottom: 25px;
}

@include _1479 {
  .header-nav {
    flex-direction: column;
  }
}

@include _340 {
  .header-nav {
    padding-top: 0;
  }
}

.header-nav--inner {
  padding-top: 55px;
}

@include _778 {
  .header-nav--inner {
    padding-top: 55px;
  }
}

.header-nav__list {
  width: 784px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@include _1479 {
  .header-nav__list {
    width: 100%;
  }
}

@include _778 {
  .header-nav__list {
    flex-direction: column;
    margin: 0 auto;
  }
}

.header-nav__list a {
  color: #ffffff;
  text-decoration: none;
}

.header-nav__list--inner a {
  color: #000000;
  text-decoration: none;
}

@include _778 {
  .header-nav__list li {
    margin-bottom: 20px;
    text-align: center;
  }
}

@include _778 {
  li.header-nav__item--active {
    margin-bottom: 30px;
  }
}

.header-nav__contact {
  text-align: right;
  margin-top: -13px;
  color: #ffffff;
}

@include _1479 {
  .header-nav__contact {
    margin-top: 20px;
  }
}

@include _778 {
  .header-nav__contact {
    text-align: center;
    margin-top: 50px;
  }
}

.header-nav--inner .header-nav__contact {
  color: #000000;
}

.header-nav__contact p {
  font-family: "GOST_BU";
  font-size: 33px;
  margin: 0;
}

.header-nav__contact a {
  font-size: 22px;
  color: #cc99ff;
}

.header-nav--inner .header-nav__contact a {
  color: #c3ff;
}

.header-nav__logo {
  width: 908px;
  height: 495px;
  margin: 0 auto;
}

@include _1479 {
  .header-nav__logo {
    width: 100%;
    height: auto;
  }
}

.header-nav__logo--inner {
  width: 271px;
  height: 148px;
  margin: 0 auto;
}

a.header-nav__link-active {
  color: #cc99ff;
}

a.header-nav__link-active::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #cc99ff;
  margin: 0 auto;
  margin-top: 10px;
}

.header-nav__list--inner a.header-nav__link-active {
  color: #cc33ff;
}

.header-nav__list--inner a.header-nav__link-active::after {
  background-color: #cc33ff;
}

.header-nav__list a[href] {
  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.5);
    outline: none;
  }

  &:active {
    color: #6d2cad;
  }
}

.header-nav__contact a[href] {
  &:hover,
  &:focus {
    color: #a451f7;
    outline: none;
  }

  &:active {
    color: #6d2cad;
  }
}

.header-nav__list--inner a[href] {
  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.5);
    outline: none;
  }

  &:active {
    color: #6d2cad;
  }
}
