.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 68px;
  align-items: flex-start;
}

@include _918 {
  .main-content {
    flex-direction: column;
  }
}

.main-content > div {
  width: 600px;
}

@include _1479 {
  .main-content > div {
    width: 480px;
  }
}

@include _1158 {
  .main-content > div {
    width: 400px;
  }
}

@include _918 {
  .main-content > div {
    width: 100%;
    order: 2;
  }
}

.main-content p {
  font-family: "CadillacSansA-Light";
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 35px;
}

.main-content--inner {
  margin-top: 75px;
}

.main-content--inner p {
  color: #392aa0;
}

.main-content--inner .sidebar a {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
}

.main-content--inner .sidebar__expertise a {
  position: relative;
  color: rgba(0, 0, 0, 1.0);
}

.main-content--inner a.sidebar__link-active {
  color: #cc33ff;
}

.main-content--inner a.sidebar__link-active::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 25px;
  left: -32px;
  background-color: #cc33ff;
  border-radius: 50%;
}

@include _918 {
  .main-content--inner a.sidebar__link-active::before {
    top: 30%;
  }
}

@include _918 {
  .main-content--inner .sidebar {
    width: 550px;
    padding-left: 40px;
  }
}

@include _778 {
  .main-content--inner .sidebar {
    width: 440px;
  }
}

@include _578 {
  .main-content--inner .sidebar {
    width: 250px;
    margin: 0;
    margin-bottom: 30px;
  }
}

@include _918 {
  .main-content--inner .sidebar li {
    margin-bottom: 20px;
  }
}

.main-content--inner aside {
  width: 290px;
  padding-top: 180px;
}

@include _918 {
  .main-content--inner aside {
    width: 100%;
    padding-top: 0;
    padding-bottom: 35px;
    order: 2;
  }
}

.main-content--inner aside > p {
  font-family: "CadillacSansA-Light";
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  word-wrap: break-word;
  margin: 0;
}

.main-content--inner .sidebar a[href] {
  &:hover,
  &:focus {
  color: rgba(0, 0, 0, 0.8);
    outline: none;
  }

  &:active {
  color: rgba(0, 0, 0, 0.3);
  }
}

