.rewards {
  width: 1046px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 90px;
}

@include _1479 {
  .rewards {
    width: 100%;
  }
}

@include _918 {
  .rewards {
    display: block;
  }
}

@include _458 {
  .rewards {
    padding-bottom: 30px;
  }
}

.rewards article {
  width: 460px;
}

@include _1158 {
  .rewards article {
    width: 370px;
  }
}

@include _918 {
  .rewards article {
    width: 620px;
    margin-bottom: 40px;
  }
}

@include _778 {
  .rewards article {
    width: 480px;
  }
}

@include _578 {
  .rewards article {
    width: 100%;
  }
}

@include _458 {
  .rewards article {
    width: 280px;
  }
}

.rewards h4 {
  font-family: "CadillacSansA-Book";
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #392aa0;
  margin: 0;
}

.rewards h4::after {
  display: block;
  content: "";
  width: 105px;
  height: 5px;
  margin-top: 8px;
  margin-bottom: 15px;
  background-color: #392aa0;
}

.rewards__img {
  width: 192px;
  height: 140px;
  margin-bottom: 27px;
}

.rewards__img--second {
  width: 235px;
  height: 153px;
  margin-bottom: 27px;
}

.rewards p {
  font-family: "CadillacSansA-Light";
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0;
}

.rewards a {
  display: block;
  font-family: "CadillacSansA-Medium";
  font-size: 16px;
  line-height: 20px;
  color: #c3ff;
  margin-top: 25px;
}

.rewards a[href] {
  &:hover,
  &:focus {
    color: #a451f7;
    outline: none;
  }

  &:active {
    color: #6d2cad;
  }
}
