.slider {
    position: relative;
    margin: 0 auto;
}

.slider__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 100px;
  padding-right: 100px;
}

@include _918 {
  .slider__item {
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;  }
}

@include _778 {
  .slider__item {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;  }
}

@include _578 {
  .slider__item {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;  }
}

.slider__item > div {
  width: 550px;
}

@include _918 {
  .slider__item > div {
    width: 100%;
    margin-top: 30px;
  }
}

.slider__item img {
  width: 265px;
  height: 265px;
  margin-right: 40px;
}

@include _1158 {
  .slider__item img {
    width: 187px;
    height: 187px;
  }
}

@include _918 {
  .slider__item img {
    margin: 0 auto;
  }
}

/* Кнопки вперед и назад */
.slider__toggle--prev,
.slider__toggle--next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #c3ff;
  font-weight: bold;
  font-size: 42px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  opacity: 0.5;
}

.slider__toggle--next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@include _918 {
  .slider__toggle--prev,
  .slider__toggle--next {
    top: 10%;
  }
}

@include _778 {
  .slider__toggle--prev,
  .slider__toggle--next {
    top: 5%;
  }
}

@include _578 {
  .slider__toggle--prev,
  .slider__toggle--next {
    top: 3%;
  }
}

.slider__item h4 {
  font-family: "CadillacSansA-Book";
  font-size: 20px;
  line-height: 25px;
  color: #392aa0;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.slider__item h4::after {
  display: block;
  content: "";
  width: 105px;
  height: 5px;
  margin-top: 8px;
  margin-bottom: 15px;
  background-color: #392aa0;
}

.slider__item p {
  font-family: "CadillacSansA-Light";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.slider__item ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 24px;
  margin-top: 16px;
}

.slider__item li {
  position: relative;
  margin-bottom: 27px;
}

.slider__item li::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 4px;
  top: 8px;
  left: -24px;
  background-color: #392aa0;
}

.slider__toggle--prev,
.slider__toggle--next {
  &:hover,
  &:focus {
    color: #a451f7;
  }

  &:active {
    opacity: 1.0;
  }
}



/* Кружочки */

.slider-dots {
  text-align: center;
}

.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: #aaa;
}


/* Анимация слайдов */

.slider__item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.0s;
    animation-name: fade;
    animation-duration: 1.0s;
}

@-webkit-keyframes fade {
    from {
        opacity: .6
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .6
    }
    to {
        opacity: 1
    }
}
