@font-face {
  font-family: "CadillacSansA-Light";
  src: url("../fonts/CadillacSansA-Light.woff2") format("woff2");
  src: url("../fonts/CadillacSansA-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "CadillacSansA-Book";
  src: url("../fonts/CadillacSansA-Book.woff2") format("woff2");
  src: url("../fonts/CadillacSansA-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CadillacSansA-Medium";
  src: url("../fonts/CadillacSansA-Medium.woff2") format("woff2");
  src: url("../fonts/CadillacSansA-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CadillacSansA-Bold";
  src: url("../fonts/CadillacSansA-Bold.woff2") format("woff2");
  src: url("../fonts/CadillacSansA-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GOST_BU";
  src: url("../fonts/gost_bu_0-webfont.woff2") format("woff2");
  src: url("../fonts/gost_bu_0-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}


